<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.daitdayoung.user.courses">

	<!-- 나의 강의실 수강상세, 대시보드 -->
	<select id="coursesInfo" resultType="kr.co.daitdayoung.user.domain.UserCoursesDomain" parameterType="kr.co.daitdayoung.user.vo.UserCoursesVO">
	select  c.cou_code,i.INS_ID, COU_NAME, CONTENT, OPENDATE, BANNER_IMG, COU_PERIOD, SAMPLE_VIDEO, HITS, FINAL_APPROVE,
			i.ins_name, i.ins_profile,(crg.registrationdate+c.cou_period) courseperiod,completion_status,
			cc.enroll_rate, cc.exam_results, crg.registrationdate,progress_Rate
			,(select count(*)
			from COURSE_REGISTRATION
			where cou_code = #{couCode} and COMPLETION_STATUS = 'Y') completeCnt
	from    COURSES c, INSTRUCTOR i,course_registration crg, completion_criteria cc
	where 	c.ins_id = i.ins_id and c.cou_code = #{couCode} and 
			crg.ui_id = #{uiId} and c.cou_code = crg.cou_code
	</select>
<!-- 	<select id="coursesInfo" resultType="kr.co.daitdayoung.user.domain.UserCoursesDomain" parameterType="String">
	select  i.INS_ID, COU_NAME, CONTENT, OPENDATE, BANNER_IMG, COU_PERIOD, SAMPLE_VIDEO, HITS, FINAL_APPROVE,
			i.ins_name, i.ins_profile,(crg.registrationdate+c.cou_period) courseperiod,completion_status,
			cc.enroll_rate, cc.exam_results, crg.registrationdate
			,(select count(*)
			from COURSE_REGISTRATION
			where cou_code = #{couCode}) cnt 
	from    COURSES c, INSTRUCTOR i,course_registration crg, completion_criteria cc
	where 	c.ins_id = i.ins_id and cou_code = #{couCode}
	</select> -->
	
	<!-- 강의 공지사항리스트, 상세 -->
	<select id="coursesNotice" resultType="kr.co.daitdayoung.user.domain.UserCoursesNoticeDomain" parameterType="String">
	select  CN_CODE, i.INS_ID, CN_TITLE, CN_DATE, CN_CONTENT, INS_NAME,ROW_NUMBER() OVER (ORDER BY CN_DATE) ind
	from	COURSES_NOTICE cn, INSTRUCTOR i
	where   cou_code = #{couCode} and i.ins_id = cn.ins_id
	order by ind desc
	</select>
	
	<!-- 강의목록리스트, 상세 -->
	<select id="coursesLecture" resultType="kr.co.daitdayoung.user.domain.UserCoursesLectureDomain" parameterType="kr.co.daitdayoung.user.vo.UserCoursesVO">
	select  lec.LEC_CODE, LEC_NAME, LEC_CONTENT, VIDEO_NAME, COURSE_STATUS
	from 	LECTURES lec, COURSE_RECORD cr
	where 	lec.cou_code = #{couCode} and lec.lec_code = cr.lec_code and cr.ui_id = #{uiId}
	order by lec.lec_Code desc
	</select>
	
	
	
	
	
</mapper>