<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.daitdayoung.user.exam">

	<update id="examParticipationUpdate" parameterType="kr.co.daitdayoung.user.vo.UserExamVO">
	update 	EXAM_PARTICIPATION
	set		exam_status = 'Y', EXAMDATE = sysdate
	where 	ui_id = #{uiId} and crg_code = #{crgCode}
	</update>
	
	<insert id="reExamParticipationInsert" parameterType="kr.co.daitdayoung.user.vo.UserExamVO">
	insert into EXAM_PARTICIPATION (EP_CODE, CRG_CODE, UI_ID, COU_CODE, INS_ID, EXAMDATE, RE_EXAM, EXAM_STATUS, EXAM_SCORE)
	values('EP_'||lpad(ep_seq.nextval,6,'0'),#{crgCode}, #{uiId}, #{couCode}, #{insId}, sysdate, 'Y', 'Y', 0)
	</insert>
	
	<select id="epCodeSelect" parameterType="kr.co.daitdayoung.user.vo.UserExamVO" resultType="String">
	select 	EP_CODE
	from 	EXAM_PARTICIPATION
	where	crg_code = #{crgCode} and EXAM_STATUS = 'Y' and
	<choose>
		<when test='examStatus == "N"'>
		RE_EXAM = 'N'
		</when>
		<when test='examStatus == "Y"'>
		RE_EXAM = 'Y'
		</when>
	</choose>
	</select>
	
	<!-- 네비바 queCOde입력 -->
	<select id="questionList" resultType="kr.co.daitdayoung.user.domain.UserQuestionsDomain" parameterType="String">
	select 	QUE_CODE, EXAM_CODE, COU_CODE, INS_ID, QUE_CONTENT, QUE_1, QUE_2, QUE_3, QUE_4
	from 	QUESTIONS
	where 	cou_code = #{couCode}
	</select>
	
	<!-- 시험문제 디테일 -->
	<select id="questionDetail" resultType="kr.co.daitdayoung.user.domain.UserQuestionsDomain" parameterType="String">
	select 	QUE_CODE, EXAM_CODE, COU_CODE, INS_ID, QUE_CONTENT, QUE_1, QUE_2, QUE_3, QUE_4
	from 	QUESTIONS
	where 	que_code = #{queCode}
	</select>
	
	<!-- 시험 답 조회 -->
	<select id="correctList" resultType="kr.co.daitdayoung.user.domain.UserCoursesExamDomain" parameterType="String">
	select	QUE_CODE,CORRECT
	from    QUESTIONS
	where   cou_code = #{couCode}
	</select>
	
	<!-- 시험답안지 입력 -->
	<insert id="answerInsert" parameterType="kr.co.daitdayoung.user.vo.UserAnswerVO">
	insert into ANSWER_SHEET(AS_CODE, QUE_CODE, EP_CODE, CRG_CODE, UI_ID, COU_CODE, INS_ID, EXAM_CODE, AS_SELECTED, AS_STATUS)
	values('AS_'||lpad(as_seq.nextval,6,'0'), #{queCode}, #{epCode}, #{crgCode}, #{uiId}, #{couCode}, #{insId}, #{examCode},#{asSelected},#{asStatus})
	</insert>
	
	<!-- 시험점수 업데이트 -->
	<update id="examScoreUpdate" parameterType="kr.co.daitdayoung.user.vo.UserExamScoreVO">
	update 	EXAM_PARTICIPATION
	set		EXAM_SCORE =  #{examScore}
	where 	crg_code = #{crgCode} and ep_code = #{epCode}
	</update>
	
	<select id="examAnswerList" parameterType="String" resultType="kr.co.daitdayoung.user.domain.UserAnswerDomain">
	select	q.QUE_CODE, AS_SELECTED, AS_STATUS, QUE_CONTENT, QUE_1, QUE_2, QUE_3, QUE_4, CORRECT, EXAMDATE, EXAM_SCORE
	from    QUESTIONS q, ANSWER_SHEET ash, EXAM_PARTICIPATION ep
	where   q.que_code = ash.que_code and ep.ep_code = ash.ep_code and ep.ep_code = #{epCode}
	</select>
	
	<select id="examAnswerDetail" parameterType="kr.co.daitdayoung.user.vo.UserAnswerVO" resultType="kr.co.daitdayoung.user.domain.UserAnswerDomain">
	select	q.QUE_CODE, AS_SELECTED, AS_STATUS, QUE_CONTENT, QUE_1, QUE_2, QUE_3, QUE_4, CORRECT, EXAMDATE, EXAM_SCORE
	from    QUESTIONS q, ANSWER_SHEET ash, EXAM_PARTICIPATION ep
	where   q.que_code = ash.que_code and ep.ep_code = ash.ep_code and ep.ep_code = #{epCode} and q.que_code = #{queCode}
	
	</select>

	
	
	
	
	
	
</mapper>