<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.daitdayoung.user.toDoList">

	<!-- 나의 강의실 수강 List -->
	<select id="toDoList" resultType="kr.co.daitdayoung.user.domain.UserToDoDomain" parameterType="String">
	select 	c.cou_code, c.cou_name, crg.COMPLETION_STATUS, crg_code,
			TRUNC(REGISTRATIONDATE + COU_PERIOD - SYSDATE) AS remainingperiod
	from 	COURSES c , COURSE_REGISTRATION crg 
	where 	crg.ui_id = #{uiId} and c.cou_code = crg.cou_code and crg.COMPLETION_STATUS = 'N'

	</select>
	<select id="toDoExamList" resultType="kr.co.daitdayoung.user.domain.UserToDoDomain" parameterType="String">
	select 	exam_status, re_exam, ep_code
	from 	exam_participation 
	where	crg_code = #{crgCode}
	
	</select>
	
	
	
	
	
	
</mapper>