<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.daitdayoung.login">


	<insert id="insJoin"  parameterType="kr.co.daitdayoung.login.vo.InsJoinVO">
	 insert into INSTRUCTOR(ins_id, ins_pw, ins_name,  ins_introdce, ins_email, ins_birth, ins_tel, ins_profile)
		 values(#{insId}, #{insPw}, #{insName}, #{insIntrodce}, #{insEmail}, #{insBirth}, #{insTel}, #{insProfile})
	</insert>
	



</mapper>