<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.daitdayoung.login">


	<update id="updateUserPw"  parameterType="kr.co.daitdayoung.login.vo.ModifyUserPwVO">
	update user_info
	from ui_pw
	where ui_id=#{ id } and ui_birth = #{ birth }
	</update>
	
	<update id="updateInsPw"  parameterType="kr.co.daitdayoung.login.vo.ModifyInsPwVO">
	update INSTRUCTOR
	from ins_pw
	where ins_id=#{ id } and ins_birth = #{ birth }
	</update>
	


</mapper>