<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.daitdayoung.login">


	<update id="updateUserPw"  parameterType="kr.co.daitdayoung.login.vo.ModifyPwVO">
	update user_info
	set ui_pw= #{ npw }
	where ui_id=#{ uiId } and ui_pw = #{ uiPw }
	</update>
	
<!-- 	<update id="updateInsPw"  parameterType="kr.co.daitdayoung.login.vo.ModifyInsPwVO">
	update INSTRUCTOR
	from ins_pw
	where ins_id=#{ id } and ins_birth = #{ birth }
	</update> -->
	


</mapper>