<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.daitdayoung.index.coursesDetail">
	
	<select id="coursesDetail" parameterType="String" resultType="kr.co.daitdayoung.index.domain.CoursesDetailDomain">
	select 	c.COU_CODE, c.INS_ID, c.COU_NAME, c.CONTENT, c.BANNER_IMG, c.COU_PERIOD,
			c.SAMPLE_VIDEO, c.HITS, c.CC_CODE,INS_NAME, INS_INTRODCE, INS_EMAIL,
			INS_TEL, INS_PROFILE,SC_NAME, MC_NAME
	from 	COURSES c,  INSTRUCTOR i,MAINCATEGORY mc , SUBCATEGORY sc
	where   c.cou_code = #{couCode} and  i.ins_id = c.ins_id and
				mc.mc_code = sc.mc_code and c.sc_code = sc.sc_code
	</select>
	
	<select id="lectureList" parameterType="String" resultType="kr.co.daitdayoung.index.domain.CoursesLectureDomain">
	select  LEC_CODE, COU_CODE, LEC_NAME, LEC_CONTENT, VIDEO_NAME
	from	LECTURES
	where	cou_code = #{couCode}
	</select>
	
	<select id="completionCnt" parameterType="String" resultType="int">
	select 	count(COMPLETION_STATUS)
	from 	COURSE_REGISTRATION
	where	cou_code = #{couCode} and COMPLETION_STATUS = 'Y'
	</select>
	
	<select id="reCompletion" parameterType="kr.co.daitdayoung.index.vo.CoursesRegistrationVO" resultType="kr.co.daitdayoung.index.domain.CoursesRegistrationDomain">
	SELECT CR_COUNT, COMPLETION_STATUS
	FROM COURSE_REGISTRATION
	WHERE (ui_Id, cou_code, CR_COUNT) = (
	    SELECT ui_Id, cou_code, MAX(CR_COUNT) AS MAX_CR_COUNT
	    FROM COURSE_REGISTRATION
	    WHERE ui_Id = #{uiId} AND cou_code = #{couCode}
	    GROUP BY ui_Id, cou_code)
	</select>
	
	<insert id="comletionInsert" parameterType="kr.co.daitdayoung.index.vo.CoursesRegistrationVO">
    <selectKey keyProperty="crgCode" order="BEFORE" resultType="String">
        SELECT 'CRG_' || lpad(crg_seq.nextval, 6, '0') FROM dual
    </selectKey>

    INSERT INTO COURSE_REGISTRATION (
        CRG_CODE, UI_ID, COU_CODE, INS_ID
        <if test="completionStatus != null">
           , CR_COUNT
        </if>
    )
    VALUES (
        #{crgCode}, #{uiId}, #{couCode}, #{insId}
        <if test="completionStatus != null">
           , #{crCount}
        </if>
    )
	</insert>
	
	<insert id="courseRecordInsert" parameterType="kr.co.daitdayoung.index.vo.CoursesRegistrationVO" >
	INSERT INTO COURSE_RECORD (CRC_CODE, LEC_CODE, COU_CODE, INS_ID, CRG_CODE, UI_ID)
    SELECT 'CRC_' || lpad(crc_seq.nextval, 6, '0'), lec_code, COU_CODE, INS_ID,#{crgCode} , #{uiId}
    FROM lectures
    WHERE cou_code = #{couCode}
	</insert>
	
	<insert id="examParticipationInsert" parameterType="kr.co.daitdayoung.index.vo.CoursesRegistrationVO">
	insert into EXAM_PARTICIPATION (EP_CODE, CRG_CODE, UI_ID, COU_CODE, INS_ID)
	values('EP_'||lpad(ep_seq.nextval,6,'0'),#{crgCode},#{uiId},#{couCode},#{insId})
	</insert>
	
	

	
</mapper>