<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.daitdayoung.index">

	<!-- 대분류, 소분류 -->
 	<select id="leftCategory" resultType= "kr.co.daitdayoung.index.domain.CoursesDomain" >
	select 	distinct mc.mc_name, sc.sc_name
	from 	maincategory mc
	join 	subcategory sc on mc.mc_code = sc.mc_code
	</select>

	<!-- 전체 강좌명, 배너이미지, 교수명, 조회수 -->
	<select id="CouList" resultType="kr.co.daitdayoung.index.domain.CoursesDomain"> 
	select 		c.cou_code, cou_name, c.banner_img, c.hits, i.ins_name, c.ins_id, c.mc_code
	from 		courses c, instructor i
	where		i.ins_id = c.ins_id
	</select>
	
	<!-- 소분류 골라서 -->
	<select id="CouOne" resultType="kr.co.daitdayoung.index.domain.CoursesDomain">
	select 		c.cou_code, cou_name, c.banner_img, c.hits, i.ins_name, c.ins_id, c.mc_code
	from 		courses c
	join 		instructor i on c.ins_id = i.ins_id
	join 		maincategory m on c.mc_code = m.mc_code
	where 		c.sc_code = #{scCode}
	</select>
	
	<!-- 조회수 -->
	<!-- <select id="complete" resultType="int" parameterType="String">
	select 	count(nvl(completion_status, 0)) as completionCnt
	from 	course_registration
	where 	cou_code = #{couCode} and completion_status = 'Y'
	</select>  -->
	
</mapper>