<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.daitdayoung.index">

	
	<!-- 같은 대분류에 속한 소분류만 -->
	<select id="coursesCate" resultType="kr.co.daitdayoung.index.domain.CoursesDomain">
	select 	distinct mc.mc_name, sc.sc_name
	from 	maincategory mc
	join 	subcategory sc on mc.mc_code = sc.mc_code
	where 	mc.mc_code = #{mc_code}
</select>
	
</mapper>