<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.daitdayoung.index">

	<!-- 대분류, 소분류 -->
 	<select id="leftCategory" resultType= "kr.co.daitdayoung.index.domain.CoursesDomain" >
	SELECT DISTINCT mc.mc_name, sc.sc_name
	FROM maincategory mc
	JOIN subcategory sc ON mc.mc_code = sc.mc_code
	</select>

	
</mapper>