<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.daitdayoung.instructor.addCourse">

	<select id="selectMainCategory" resultType="kr.co.daitdayoung.instructor.domain.MainCategoryDomain">
	select *
	from MAINCATEGORY
	</select>

	<select id="selectSubCategory" resultType="kr.co.daitdayoung.instructor.domain.SubCategoryDomain" parameterType="String">
	select *
	from SUBCATEGORY
	where mc_code=#{ mcCode } 
	</select>
	
	<insert id="insertCourse" parameterType="kr.co.daitdayoung.instructor.vo.CourseVO">
	 <selectKey keyProperty="ccCode" order="BEFORE" resultType="String">
		insert into COMPLETION_CRITERIA
		values ( 'CC_'||LPAD(CC_SEQ.nextVal, 6, '0'), #{ enrollRate }, #{ examResult }  )	
    </selectKey>
		insert into Courses( COU_CODE, INS_ID, COU_NAME, CONTENT,BANNER_IMG, COU_PERIOD, SAMPLE_VIDEO, CC_CODE, SC_CODE, MC_CODE)
		values( 'cou_'||LPAD(COU_SEQ.nextVal, 6, '0') , #{ insId }, #{ couName}, #{ content }, #{ bannerImg }, #{ couPeriod }, #{ sampleVideo }, #{ ccCode }, #{ scCode }, #{ mcCode } )
	</insert>

	<insert id="insertLecture" parameterType="kr.co.daitdayoung.instructor.vo.LectureVO">
	insert into Lectures(LEC_CODE, COU_CODE, INS_ID, LEC_NAME ) 
	values (  'QUE_'||LPAD(QUE_SEQ.nextVal, 6, '0'), #{ couCode }, #{ insId }, #{ lecName } )
	</insert>


</mapper>