<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.daitdayoung.instructor.course">

	<select id="selectOneCourse" resultType="kr.co.daitdayoung.instructor.domain.CourseDomain" parameterType="kr.co.daitdayoung.instructor.vo.CourseVO">
	select *
	from COURSES c, COMPLETION_CRITERIA cr
	where (c.cc_code = cr.cc_code) and ( ins_id=#{ insId } and cou_code=#{ couCode } ) 
	</select>




</mapper>