<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.daitdayoung.instructor.course.inquiry">

<select id="selectAllCourseInquiry" resultType="kr.co.daitdayoung.instructor.domain.CourseInquiryDomain" parameterType="String">
	select ci.CI_CODE, ci.UI_ID, ci.CIT_CODE, ci.CI_TITLE, ci.CI_CONTENT, ci.CI_DATE, ci.CI_ANSWER, ci.CI_ANSWERDATE, ci.COU_CODE, ci.INS_ID, cit.cit_name 
	from COURSES_INQUIRY ci, COURSES_INQUIRY_TYPE cit
	where ( ci.cou_code = #{ couCode } ) and ( ci.cit_code = cit.cit_code )
	</select>

 	<select id="selectOneCourseInquiry" resultType="kr.co.daitdayoung.instructor.domain.CourseInquiryDomain" parameterType="String">
	select distinct ci.CI_CODE, ci.UI_ID, ci.CIT_CODE, ci.CI_TITLE, ci.CI_CONTENT, ci.CI_DATE, ci.CI_ANSWER, ci.CI_ANSWERDATE, ci.COU_CODE, ci.INS_ID, cit.cit_name 
	from COURSES_INQUIRY ci, COURSES_INQUIRY_TYPE cit
	where (ci.ci_code = #{ ci_code }) and ( ci.cit_code = cit.cit_code ) 
	</select>
	
	<update id="updateOneCourseInquiry" parameterType="kr.co.daitdayoung.instructor.vo.CourseInquiryVO">
	update COURSES_Inquiry
	 set CI_ANSWER = #{ ciAnswer }, CI_ANSWERDATE = sysdate
	where Ci_CODE = #{ ciCode }  and COU_CODE = #{ couCode } 	
	</update>

</mapper>