<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="properties/database.properties"/>
<settings>        
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
<typeAliases>

</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <!-- 2수박 -->
  	<mapper resource="kr/co/daitdayoung/user/mapper/userMyCoursesMapper.xml"/>
  	<mapper resource="kr/co/daitdayoung/user/mapper/userToDoListMapper.xml"/>
  	<mapper resource="kr/co/daitdayoung/user/mapper/userCoursesMapper.xml"/>
  	<mapper resource="kr/co/daitdayoung/user/mapper/userCoursesInquiryMapper.xml"/>
  	<mapper resource="kr/co/daitdayoung/user/mapper/userExamMapper.xml"/>
  <!-- 주민 -->
  <!-- 나 -->
  	<mapper resource="kr/co/daitdayoung/instructor/mapper/insCourseMapper.xml"/>
  	<mapper resource="kr/co/daitdayoung/instructor/mapper/insMyClassMapper.xml"/>
  	<mapper resource="kr/co/daitdayoung/instructor/mapper/insAddCourseMapper.xml"/>
  <!-- 나 -->
  <!-- 준식 -->
  	<mapper resource="kr/co/daitdayoung/admin/mapper/manageCoursesMapper.xml"/>
  	<mapper resource="kr/co/daitdayoung/admin/mapper/manageInqueryMapper.xml"/>
  	<mapper resource="kr/co/daitdayoung/admin/mapper/manageCouInqueryMapper.xml"/>
  	<mapper resource="kr/co/daitdayoung/admin/mapper/manageUsersMapper.xml"/>
  	<mapper resource="kr/co/daitdayoung/admin/mapper/manageNoticeMapper.xml"/>
  <!-- 준식 -->
  
  <!-- 다영 -->
	<!-- <mapper resource="kr/co/daitdayoung/index/mapper/CoursesMapper.xml"/> -->
	<!-- <mapper resource="kr/co/daitdayoung/index/mapper/InquiryMapper.xml"/> -->
	<mapper resource="kr/co/daitdayoung/index/mapper/NoticeMapper.xml"/>
  <!-- /다영 -->
  
  
  
  </mappers>
</configuration>