<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.daitdayoung.admin.mi">

<select id="selectInqType" resultType="kr.co.daitdayoung.admin.domain.ManageInqueryDomain">
	select it_code, it_name
	from inquiry_type
</select>

<select id="selectInquiry" resultType="kr.co.daitdayoung.admin.domain.ManageInqueryDomain">
	select iqt.it_name, iq.inq_code, iq.inq_title, iq.ui_id, iq.inq_date, iq.inq_answer
	from inquiry iq, inquiry_type iqt
	where iq.it_code = iqt.it_code
	order by iq.inq_date desc
</select>

<select id="selectInquiry2" resultType="kr.co.daitdayoung.admin.domain.ManageInqueryDomain">
	select iqt.it_name, iq.inq_code, iq.inq_title, iq.ui_id, iq.inq_date, iq.inq_answer
	from inquiry iq, inquiry_type iqt
	where iq.it_code = iqt.it_code 
	<if test="itCode != ''">
		and iq.it_code=#{ itCode }
	</if>
	order by iq.inq_date desc
</select>

<select id="selectDetailInq" resultType="kr.co.daitdayoung.admin.domain.ManageInqueryDomain" parameterType="String">
	select i.inq_code,i.inq_title, ui.ui_name, it.it_name, i.inq_date, i.inq_content, i.inq_answer, i.inq_answerdate, a.admin_name
	from inquiry i, inquiry_type it, user_info ui, admin a
	where i.it_code=it.it_code and i.ui_id=ui.ui_id and i.admin_id=a.admin_id and i.inq_code= #{inq_code}
</select>

<update id="updateInqAnswer" parameterType="kr.co.daitdayoung.admin.vo.ManageInqueryVO">
	update inquiry
	set inq_answer=#{ inqAnswer }, inq_answerdate=sysdate, admin_id=#{ adminId }
	where inq_code=#{ inqCode }
</update>

</mapper>



