<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.daitdayoung.admin.mu">

<select id="selectStudents" resultType="kr.co.daitdayoung.admin.domain.ManageUsersDomain">
	select ui_id, ui_name, ui_joindate, ui_quit,
					(   select count(*)
						from course_registration
						where ui_id='ui_test' and completion_status='y' ) cou_y,
					(   select count(*)
						from course_registration
						where ui_id='ui_test' and completion_status='n' ) cou_n
	from user_info
</select>

<select id="selectInstructors" resultType="kr.co.daitdayoung.admin.domain.ManageUsersDomain">
	select i.ins_id, ins_name, ins_tel, ins_joindate, ins_quit,
			(	select count(*)
				from courses
				where ins_id=i.ins_id ) cou_cnt
	from instructor i
</select>

</mapper>



