<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.daitdayoung.admin.mn">

<select id="selectNotice" resultType="kr.co.daitdayoung.admin.domain.ManageNoticeDomain">
	select n.not_code, n.not_title, n.admin_id, a.admin_name, n.not_date
	from notice n, admin a
	where n.admin_id=a.admin_id
</select>

<select id="selectCouNotice" resultType="kr.co.daitdayoung.admin.domain.ManageNoticeDomain">
	select cn.cn_code, cn.cn_title, cn.cn_date, c.cou_name, i.ins_name
	from courses c, courses_notice cn, instructor i
	where cn.cou_code=c.cou_code and cn.ins_id=i.ins_id
</select>

<select id="selectDetailNot" resultType="kr.co.daitdayoung.admin.domain.ManageNoticeDomain" parameterType="String">
	select n.not_title, n.not_date, n.not_content, a.admin_name
	from notice n, admin a
	where n.admin_id=a.admin_id and n.not_code=#{ not_code }
</select>

<select id="selectDetailCn" resultType="kr.co.daitdayoung.admin.domain.ManageNoticeDomain" parameterType="String">
	select cn.cn_title, cn.cn_date, cn.cn_content, i.ins_name, c.cou_name
	from instructor i, courses_notice cn, courses c
	where i.ins_id=cn.ins_id and cn.cou_code=c.cou_code and cn_code=#{ cn_code }
</select>

<update id="updateNot" parameterType="kr.co.daitdayoung.admin.vo.ManageNoticeVO">
	update	notice
	set		not_title=#{ notTitle }, admin_id=#{ adminId }, not_date=sysdate, not_content=#{ notContent }
	where   not_code=#{ notCode }
</update>

</mapper>





